.u-section-1 .u-sheet-1 {
  min-height: 960px;
}

.u-section-1 .u-image-1 {
  width: 157px;
  height: 157px;
  background-image: url("images/ZenAvatar.png");
  background-position: 50% 50%;
  margin: -59px -63px 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  background-image: none;
  margin: -129px auto 0 84px;
}

.u-section-1 .u-list-1 {
  width: 804px;
  margin: 70px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 358px;
  grid-template-columns: calc(33.3333% - 30px) calc(33.3333% - 30px) calc(33.3333% - 30px);
  grid-gap: 45px 45px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 0 auto 0 60px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 0 auto 0 9px;
}

.u-section-1 .u-image-2 {
  width: 174px;
  height: 199px;
  margin: 7px auto 0 32px;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(#db545a, #a35559);
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 0 auto 0 60px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 0 auto 0 9px;
}

.u-section-1 .u-image-3 {
  width: 174px;
  height: 199px;
  margin: 7px auto 0 32px;
}

.u-section-1 .u-btn-2 {
  background-image: linear-gradient(#db545a, #a35559);
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 0 auto 0 60px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 0 auto 0 9px;
}

.u-section-1 .u-image-4 {
  width: 174px;
  height: 199px;
  margin: 7px auto 0 32px;
}

.u-section-1 .u-btn-3 {
  background-image: linear-gradient(#db545a, #a35559);
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: -128px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 26px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 60px;
  }

  .u-section-1 .u-btn-1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.125rem;
    margin: 11px auto 0 34px;
    padding: 6px 37px 7px 36px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 60px;
  }

  .u-section-1 .u-btn-2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.125rem;
    margin: 11px auto 0 34px;
    padding: 6px 37px 7px 36px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 60px;
  }

  .u-section-1 .u-btn-3 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.125rem;
    margin: 11px auto 0 34px;
    padding: 6px 37px 7px 36px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1104px;
  }

  .u-section-1 .u-list-1 {
    width: 562px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 799px;
    grid-template-columns: calc(50% - 22.5px) calc(50% - 22.5px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 8px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 17px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 17px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 8px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 17px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 17px;
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 8px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 17px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 17px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1310px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -65px;
    margin-right: -50px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -123px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 279px;
    margin-left: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1168px;
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 100px;
    height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -68px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 62px;
  }
}