.u-section-1 .u-sheet-1 {
  min-height: 960px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  background-image: none;
  margin: -31px auto 0 84px;
}

.u-section-1 .u-list-1 {
  width: 804px;
  margin: 70px auto 60px 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 358px;
  grid-template-columns: calc(33.3333% - 30px) calc(33.3333% - 30px) calc(33.3333% - 30px);
  grid-gap: 45px 45px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-image-1 {
  width: 174px;
  height: 199px;
  margin: 7px auto 0 32px;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(#db545a, #a35559);
  text-transform: none;
  font-size: 1rem;
  font-weight: 700;
  margin: 32px auto -23px;
  padding: 10px 64px 11px 62px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-image-2 {
  width: 174px;
  height: 199px;
  margin: 7px auto 0 32px;
}

.u-section-1 .u-btn-2 {
  background-image: linear-gradient(#db545a, #a35559);
  text-transform: none;
  font-size: 1rem;
  font-weight: 700;
  margin: 32px auto -23px;
  padding: 10px 64px 11px 62px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-image-3 {
  width: 174px;
  height: 199px;
  margin: 7px auto 0 32px;
}

.u-section-1 .u-btn-3 {
  background-image: linear-gradient(#db545a, #a35559);
  text-transform: none;
  font-size: 1rem;
  font-weight: 700;
  margin: 32px auto -23px;
  padding: 10px 64px 11px 62px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-image-4 {
  width: 174px;
  height: 199px;
  margin: 7px auto 0 32px;
}

.u-section-1 .u-btn-4 {
  background-image: linear-gradient(#db545a, #a35559);
  text-transform: none;
  font-size: 1rem;
  font-weight: 700;
  margin: 32px auto -23px;
  padding: 10px 64px 11px 62px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: -30px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 60px;
    margin-left: 26px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 60px;
  }

  .u-section-1 .u-btn-1 {
    text-transform: uppercase;
    font-size: 1.125rem;
    margin-top: 11px;
    margin-bottom: 0;
    margin-left: 34px;
    padding: 6px 37px 7px 36px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 60px;
  }

  .u-section-1 .u-btn-2 {
    text-transform: uppercase;
    font-size: 1.125rem;
    margin-top: 11px;
    margin-bottom: 0;
    margin-left: 34px;
    padding: 6px 37px 7px 36px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 60px;
  }

  .u-section-1 .u-btn-3 {
    text-transform: uppercase;
    font-size: 1.125rem;
    margin-top: 11px;
    margin-bottom: 0;
    margin-left: 34px;
    padding: 6px 37px 7px 36px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-left: 60px;
  }

  .u-section-1 .u-btn-4 {
    text-transform: uppercase;
    font-size: 1.125rem;
    margin-top: 11px;
    margin-bottom: 0;
    margin-left: 34px;
    padding: 6px 37px 7px 36px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 562px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 481px;
    grid-template-columns: calc(50% - 22.5px) calc(50% - 22.5px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-1 .u-text-3 {
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 17px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 17px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-1 .u-text-5 {
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 17px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 17px;
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-1 .u-text-7 {
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 17px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 17px;
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-1 .u-text-9 {
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 17px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 17px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -31px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 279px;
    margin-left: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: -33px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 62px;
  }
}